<div class="navbar navbar-inverse p-0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Trusty Poll</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">Home</a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/polls']">Polls</a>
                </li>
            </ul>

            <ng-container *ngIf="isLoggedIn">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown" role="button" aria-expanded="false" [routerLink]="['/profile']">
                            <img *ngIf="imgUrl" [src]="imgUrl" width="22" />
                            ACCOUNT
                        </a>
                    </li>
                </ul>
            </ng-container>

            <ul *ngIf="!isLoggedIn" class="nav navbar-nav navbar-right">
                <li [routerLinkActive]="['link-active']">
                    <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown" role="button" aria-expanded="false"><span class='glyphicon glyphicon-flag'></span> GET STARTED</a>
                    <ul class="dropdown-menu" role="menu">
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['/import-account']">Import Account</a></li>
                        <li [routerLinkActive]="['link-active']"><a [routerLink]="['/create-account']">Create Account</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
