<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">IMPORT YOUR ACOUNT</h4>
            </div>
            <div class="card-content">
                <div>
                    <div class="row">
                        <br />
                        <h4 class="title text-center">ENTER YOUR RAW PRIVATE KEY</h4>
                        <br />

                        <div class="col-sm-12">
                            <form class="form-horizontal">
                                <div [class]="rawPkPk ? 'form-group':'form-group has-error'">
                                    <label for="rawPkPk" class="col-sm-3 control-label">RAW PRIVATE KEY</label>
                                    <div class="col-sm-8">
                                        <input [(ngModel)]="rawPkPk" name="rawPkPk" type="password" autocomplete="off" class="form-control material-input" id="rawPkPk" placeholder="RAW PRIVATE KEY" />
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <button (click)="rawPkImport()" type="button" [disabled]="!rawPkPk" class="btn btn-sm btn-primary">IMPORT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

