<h1>All Polls</h1>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button class="btn btn-default" [routerLink]="['/poll-create']" type="button" tabindex="0">Create</button>
        </div>
    </div>
</div>

<div class="row">
    <div *ngFor="let poll of polls">
        <a [routerLink]="['/poll-details/' + poll.id]">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/content/img/car.jpg" attr.alt="{{poll.title}}">
                    <div class="caption">
                        <h3>{{poll.title}}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies ultricies dolor placerat lobortis. Morbi dictum tortor metus, nec ornare nisi sagittis nec. Donec placerat tincidunt laoreet. Fusce et vestibulum dui. Duis sed neque sem.</p>
                        <p><button class="btn btn-primary">Vote</button></p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
