<h1>{{poll.title}}</h1>
<h1>{{poll.votesCount}} total votes</h1>

<div class="row" *ngIf="loggedUserAddress == poll.author">
    <div class="col-md-12">
        <div class="form-group">
            <button class="btn btn-default" [routerLink]="['/option-create/' + poll.id]" type="button" tabindex="0">Create Option</button>
        </div>
    </div>
</div>

<div *ngFor="let option of poll.options">
    <div class="progress">
        <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{option.votesCount}}" attr.aria-valuemin="0" attr.aria-valuemax="{{poll.votesCount}}" [style.width.%]="option.percentage">
            <span class="sr-only">60% Complete</span>
        </div>
    </div>
    <span (click)="vote(option.id)" [ngClass]="{'bold': option.userVote}">{{option.title}} ({{option.votesCount}} votes ({{option && option.percentage && option.percentage.toFixed(2)}}%))</span>
</div>


