<h1>{{poll.title}} ({{poll.votesCount}} total votes)</h1>

<div class="row" *ngIf="loggedUserAddress == poll.author">
    <div class="col-md-12">
        <div class="form-group">
            <button class="btn btn-default" [routerLink]="['/option-create/' + poll.id]" type="button" tabindex="0">Create Option</button>
        </div>
    </div>
</div>

<div class="list-group" *ngFor="let option of poll.options">
    <a (click)="vote(option.id)" class="list-group-item">
        <h4 class="list-group-item-heading" (click)="vote(option.id)" [ngClass]="{'bold': option.userVote}">
            {{option.title}} ({{option.votesCount}} votes ({{option && option.percentage && option.percentage.toFixed(2)}}%))
        </h4>
        <div class="progress">
            <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{option.votesCount}}" attr.aria-valuemin="0" attr.aria-valuemax="{{poll.votesCount}}" [style.width.%]="option.percentage">
                <span class="sr-only"></span>
            </div>
        </div>
    </a>
</div>


